@font-face {
  font-family: "Cereal";
  src: url("../fonts/AirbnbCereal-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Cereal";
  src: url("../fonts/AirbnbCereal-Book.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cereal";
  src: url("../fonts/AirbnbCereal-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Cereal";
  src: url("../fonts/AirbnbCereal-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Cereal";
  src: url("../fonts/AirbnbCereal-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Cereal";
  src: url("../fonts/AirbnbCereal-Black.ttf");
  font-weight: 900;
}